<!--SEMANA 8
JOSEPH MAURICIO MONDRAGON MORENO
SISTEMAS COMPUTACIONALES-->

@model ProyectoPerritosWCF.Models.DogApiResponse

@{
    ViewBag.Title = "Perritos";
}

<!-- Título principal de la página -->
<h1>¡Este es el perrito del día!</h1>
<br/>

<!-- Estado devuelto por la API -->
<h4><strong>Status:</strong> @Model.Status</h4>
<br/>

<!-- URL de la imagen obtenida desde Dog CEO -->
<h4><strong>URL:</strong> @Model.Message</h4>
<br />

<!-- Botón para consumir nuevamente la API -->
<form method="get" action="/Home/Perritos">
    <button type="submit" class="btn btn-primary btn-perrito">
        ¿Otro perrito?
    </button>
</form>

<br />

<!--
    Contenedor principal de imágenes.
      
-->
<div class="contenedor-imagenes">
    <!--
        Imagen obtenida dinámicamente desde la API Dog CEO.

    -->
    <img src="@Model.Message"
         alt="Imagen de perro"
         class="imagen-perrito" />

    <!--
        Imagen estática de Raikou.

        -->
    <img src="~/Raikou.png"
         alt="Raikou"
         class="imagen-raikou" />

</div>