<!--SEMANA 8
JOSEPH MAURICIO MONDRAGON MORENO
SISTEMAS COMPUTACIONALES-->

@model ProyectoPerritosWCF.Models.DogApiResponse

@{
    ViewBag.Title = "Perritos";
}

<!-- Título principal de la página -->
<h1>El consentido de hoy es...</h1>
<br/>

<!-- Estado devuelto por la API -->
<h4><strong>Status:</strong> @Model.Status</h4>
<br/>

<!-- URL de la imagen obtenida desde Dog CEO -->
<h4><strong>URL:</strong> @Model.Message</h4>
<br />

<!-- Botón para consumir nuevamente la API -->
<form method="get" action="/Home/Perritos">
    <button type="submit">
        ¿Otro perrito?
    </button>
</form>

<br />

<!--
    Contenedor principal de imágenes.
      
-->
<div style="display:flex; align-items:center; gap:30px; margin-top:20px;">

    <!--
        Imagen obtenida dinámicamente desde la API Dog CEO.
       
    -->
    <img src="@Model.Message"
         alt="Imagen de perro"
         style="width:500px;
                height:500px;
                object-fit:contain;
                border:1px solid #ccc;" />

    <!--
        Imagen estática de Raikou.

        -->
    <img src="~/Raikou.png"
         alt="Raikou"
         style="width:450px;
                height:450px;
                object-fit:contain;
                margin-left:10px;
                margin-top:-350px;" />

</div>